<template name="singleBox">
    {{#if failure}}
        <td class="red-box">
            {{#if insured}}
                <p class="top-right-yellow">x</p>
            {{else}}
                <p class="top-right-blue">x</p>
            {{/if}}
            <br/>
            <p>{{roundNum}}</p>
            <p>{{payout}}</p>
        </td>
    {{else}}
        <td class="green-box">
            {{#if insured}}
            <p class="top-right-yellow">x</p>
            {{else}}
            <p class="top-right-blue">x</p>
            {{/if}}
            <br/>
            <p>{{roundNum}}</p>
            <p>{{payout}}</p>
        </td>
    {{/if}}
</template>